@model DataLayer.Models.Recipe

@{
    ViewData["Title"] = "Delete";
}



<h3>Are you sure you want to delete this recipe?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaturatedFat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaturatedFat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sodium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sodium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sugar)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DietType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DietType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" id="@Model.DietId" />
        <a asp-action="Index" asp-route-id="@ViewBag.DietId" class="btn btn-primary" style="margin-left: 5px">Back to List</a>
    </form>
</div>
