@model IEnumerable<DataLayer.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h3 style="color:#8ce0fa">@ViewBag.DietType</h3>
<hr />

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.DietId" class="btn btn-success">Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th><h6>Name</h6></th>
            <th><h6>Ingredients</h6></th>
            <th><h6>Nutritional Information</h6></th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>


            <td>
                <ul>
                    @foreach (var ingredient in item.Items)
                    {
                        <li>
                            @ingredient.Ingredient
                        </li>
                    }
                </ul>
            </td>


            <td>
                <span style="color:#8ce0fa">
                    @Html.DisplayNameFor(model => model.Calories):&nbsp;&nbsp;&nbsp;
                </span>
                @Html.DisplayFor(modelItem => item.Calories)
                <br />
                <span style="color:#8ce0fa">
                    @Html.DisplayNameFor(model => model.Carbohydrates):&nbsp;&nbsp;&nbsp;
                </span>
                @Html.DisplayFor(modelItem => item.Carbohydrates)
                <br />
                <span style="color:#8ce0fa">
                    @Html.DisplayNameFor(model => model.Fat):&nbsp;&nbsp;&nbsp;
                </span>
                @Html.DisplayFor(modelItem => item.Fat)
                <span style="color:#8ce0fa">
                <br />
                    @Html.DisplayNameFor(model => model.Fiber):&nbsp;&nbsp;&nbsp;
                </span>
                @Html.DisplayFor(modelItem => item.Fiber)
                <br />
                <span style="color:#8ce0fa">
                    @Html.DisplayNameFor(model => model.Protein):&nbsp;&nbsp;&nbsp;
                </span>
                @Html.DisplayFor(modelItem => item.Protein)
                <br />
                <span style="color:#8ce0fa">
                    @Html.DisplayNameFor(model => model.SaturatedFat):&nbsp;&nbsp;&nbsp;
                </span>
                @Html.DisplayFor(modelItem => item.SaturatedFat)
                <br />
                <span style="color:#8ce0fa">
                    @Html.DisplayNameFor(model => model.Sodium):&nbsp;&nbsp;&nbsp;
                </span>
                @Html.DisplayFor(modelItem => item.Sodium)
                <br />
                <span style="color:#8ce0fa">
                    @Html.DisplayNameFor(model => model.Sugar):&nbsp;&nbsp;&nbsp;
                </span>
                @Html.DisplayFor(modelItem => item.Sugar)
            </td>
 
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm" style="margin-left:5px">Details</a>*@
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" style="margin-left:5px">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
